<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="YoutubeSave" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python38\python.exe|c:\python38\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
    <add key="WSGI_HANDLER" value="ydown.wsgi.applicatio" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\harniytube" />

    <add key="DJANGO_SETTINGS_MODULE" value="ydown.settings" />

</appSettings>
</configuration>
